.main{
    background-image: url(../images/pexels-robbymccullough-1867601\ \(1\).jpg);
    /* background-size: cover; */
}

/* Styles for the mountain details container */
#mountainDetails {
    background-color: transparent; /* Set to transparent instead of white */
    width: 80%; /* Center as needed */
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    opacity: 95%;
}
 
/* Title styling */
#mountainDetails h3 {
    color: #007acc; /* Match the border color */
    font-size: 1.6rem; /* Larger font for title */
    margin-bottom: 1rem; /* Space below the title */
    text-decoration: underline;
}
 
/* Image styling */
#mountainDetails img {
    width: 100%; /* Full width within container */
    height: auto; /* Maintain aspect ratio */
    border-radius: 6px; /* Rounded corners */
    margin-bottom: 1rem; /* Space below the image */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15); /* Subtle shadow */
}
 
/* Description styling */
#mountainDetails p {
    font-size: 1rem; /* Text font size */
    line-height: 1.5; /* Spacing between lines */
}
 
.mountain-box {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    transition: box-shadow 0.3s;
    opacity: 100%;
}
 
.mountain-box:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}